<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">


    <!-- springmvc容器（也就是一个spring容器）会扫描指定包中的组件，将其注册到springmvc容器中 -->
    <context:component-scan base-package="s01,s02,s03,s04,s05"/>

    <!-- 添加mvc注解驱动 -->
    <mvc:annotation-driven/>

    <!-- bean名称必须为multipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--
http上传的请求类型为multipart/form-data类型，springmvc内部需要为这种请求指定解析器，解析器的类型为org.springframework.web.multipart.MultipartResolver
MultipartResolver 有2个实现类，这里我们使用 CommonsMultipartResolver 作为解析器来解析文件上传的http请求
注意bean名称必须为multipartResolver

两个比较有用的属性
maxUploadSizePerFile：单个文件大小限制（byte）
maxUploadSize：整个请求大小限制（byte）
        -->
        <property name="maxUploadSizePerFile" value="#{10*1024*1024}"/>
        <property name="maxUploadSize" value="#{100*1024*1024}"/>
    </bean>
</beans>